#imageEditor {
    margin:auto;
    padding:20px;
    border:1px solid #0b0b0b;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    background-color:#ede8e8;
}

#editorContainer {
    display:block;
    overflow: auto;
    width: 1200px;
    height: 800px;
}

#editor {
    display:block;
    margin: auto;
}

#toolbar {
    display:block;
    margin-right: 50px;
}

#resizer {
    border:2px dashed #000
}

#toolbar button {
    padding: 10px 20px 10px 20px;
}